<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>CCI-36 assignments</title>

	<link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800,600' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Muli:400,300' rel='stylesheet' type='text/css'>

</head>
<center>
<body>
		<h1><a href="http://www.comp.ita.br/~forster/CCI-36-2019/">CCI-36</a> assignments. Authors: Igor Bragaia and José Luciano</h1>
    <h3>Lab 1 (11Mar2019)</h3>
		<script src="{{ "js/three.js" | prepend: site.baseurl}}"></script>
		<script src="{{ "js/OrbitControls.js" | prepend: site.baseurl}}"></script>
		<script src="{{ "js/lab1.js" | prepend: site.baseurl}}"></script>
		<script src="{{ "js/lab2.js" | prepend: site.baseurl}}"></script>
</body>
<center>

</html>
